@import "node_modules/bootstrap/scss/bootstrap";

//Generali
button {
    padding: 5px 15px;
    &:hover {
        font-weight: bold;
    }
}
input[type="submit"] {
    padding: 5px 15px;
    &:hover {
        font-weight: bold;
    }
}
.center {
    text-align: center;
}
.red {
    color: red;
}
.bg-black {
    background-color: black;
}
.bg-red {
    background-color: red;
}
.bg-blue {
    background-color: cornflowerblue;
}
.w-100 {
    width: 100%;
}
.text-dec-none {
    text-decoration: none;
}
// Home
.titolo {
    font-size: 75px;
}
.entra {
    margin: 0 auto;
    td {
        padding: 25px;
        background: red;
        a {
            text-decoration: none;
            color: black;
            font-weight: bold;
        }
    }
}

// Index
body {
    width: auto;
    background-color: white;
    color: #636b6f;
    font-family: "Nunito", sans-serif;
    font-weight: 200;
    margin: 0;
    margin-bottom: 50px;
}

// Popup
.popup {
    position: fixed;
    top: 10%;
    left: 25%;
    margin: auto;
    background-color: red;
    width: 50%;
    padding: 20px;
    border-radius: 20px;
    z-index: 100;
    -webkit-box-shadow: 5px 5px 15px 5px #000000;
    box-shadow: 5px 5px 15px 5px #000000;
    .chiudi {
        position: absolute;
        top: 20px;
        right: 20px;
        font-size: 20px;
        cursor: pointer;
    }
}
@media screen and (max-width: 799px) {
    .popup {
        left: 5%;
        width: 90%;
    }
}

// Form creazione
.tabella_create {
    background-color: lightgray;
    legend {
        border-radius: 25px;
        padding: 10px;
    }
}

// Filtro e ordinamento

// Lista risultati
.lista {
    margin: 0 auto;
    td {
        max-width: 200px;
    }
}

/*******************************Calendar Top Navigation*********************************/
div#calendar {
    margin: 50px auto;
    padding: 0px;
    // width: 602px;
    width: 100%;
    font-family: Helvetica, "Times New Roman", Times, serif;
}

div#calendar div.box {
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 40px;
    background-color: #787878;
}

div#calendar div.header {
    line-height: 40px;
    vertical-align: middle;
    position: absolute;
    top: 0px;
    // width: 582px;
    width: 100%;
    height: 40px;
    text-align: center;
}

div#calendar div.header a.prev,
div#calendar div.header a.next {
    position: absolute;
    top: 0px;
    height: 17px;
    display: block;
    cursor: pointer;
    text-decoration: none;
    color: #fff;
    padding: 0 20px;
    &:hover {
        color: red;
    }
}

div#calendar div.header span.title {
    color: #fff;
    font-size: 18px;
}

div#calendar div.header a.prev {
    left: 0px;
}

div#calendar div.header a.next {
    right: 0px;
}

/*******************************Calendar Content Cells*********************************/
div#calendar div.box-content {
    border: 1px solid #787878;
    border-top: none;
}

div#calendar ul.label {
    width: 100%;
    float: left;
    margin: 0px;
    padding: 0px;
    margin-top: 5px;
    margin-left: 3%;
}

div#calendar ul.label li {
    margin: 0px;
    padding: 0px;
    margin-right: 5px;
    float: left;
    list-style-type: none;
    // width: 80px;
    width: 12.8%;
    height: 40px;
    line-height: 40px;
    vertical-align: middle;
    text-align: center;
    color: #000;
    font-size: 15px;
    background-color: transparent;
}

div#calendar ul.dates {
    width: 100%;
    float: left;
    margin: 0px;
    padding: 0px;
    margin-left: 3%;
    margin-bottom: 5px;
}

/** overall width = width+padding-right**/
div#calendar ul.dates li {
    margin: 0px;
    padding: 0px;
    margin-right: 5px;
    margin-top: 5px;
    line-height: 80px;
    vertical-align: middle;
    float: left;
    list-style-type: none;
    // width: 80px;
    width: 12.8%;
    height: 80px;
    font-size: 25px;
    background-color: #ddd;
    color: #000;
    text-align: center;
}

div#calendar ul.dates li.red {
    background-color: red;
}

:focus {
    outline: none;
}

div.clear {
    clear: both;
}
