button {
  padding: 5px 15px;
}

button:hover {
  font-weight: bold;
}

input[type=submit] {
  padding: 5px 15px;
}

input[type=submit]:hover {
  font-weight: bold;
}

.center {
  text-align: center;
}

.red {
  color: red;
}

.bg-black {
  background-color: black;
}

.bg-red {
  background-color: red;
}

.bg-blue {
  background-color: cornflowerblue;
}

.w-100 {
  width: 100%;
}

.text-dec-none {
  text-decoration: none;
}

.titolo {
  font-size: 75px;
}

.entra {
  margin: 0 auto;
}

.entra td {
  padding: 25px;
  background: red;
}

.entra td a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

body {
  width: auto;
  background-color: white;
  color: #636b6f;
  font-family: "Nunito", sans-serif;
  font-weight: 200;
  margin: 0;
  margin-bottom: 50px;
}

.popup {
  position: fixed;
  top: 10%;
  left: 25%;
  margin: auto;
  background-color: red;
  width: 50%;
  padding: 20px;
  border-radius: 20px;
  z-index: 100;
  box-shadow: 5px 5px 15px 5px #000000;
}

.popup .chiudi {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 20px;
  cursor: pointer;
}

@media screen and (max-width: 799px) {
  .popup {
    position: relative;
    background-color: red;
    width: 90%;
    margin: 10px auto;
    padding: 10px;
    border-radius: 20px;
    font-size: 15px;
  }

  .popup .chiudi {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 20px;
    cursor: pointer;
  }
}

.tabella_create {
  background-color: lightgray;
}

.tabella_create legend {
  border-radius: 25px;
  padding: 10px;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.flex .form-left {
  width: 65%;
  padding: 10px;
}

.flex .form-rigth {
  width: 35%;
  padding: 10px;
}

.lista {
  margin: 0 auto;
}

.lista td {
  max-width: 200px;
}

